/*
 *  Keyframes
*/

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

/* CSS Page Transitions */
#template {
    animation-delay: 2s;
}

/* Styling */
h1 {
    animation-name: fadein;
    animation-duration: 3s;
}


