{% extends "template.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/summary.css') }}">

<!--Map Resources-->
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!--summary.js-->
<script src="{{ url_for('static', filename='scripts/summary.js') }}"></script>
{% endblock %}


{% block content %}
<!-- Hero class comes from Bulma, used for centering vertically -->
<section class="hero">
    <div class="container" id="main-content">
        <div class="hero-body" >
            <figure>
            <img id="headshot" src="{{ url_for('static', filename='images/headshot_cropped.jpg') }}">
            </figure>
            <h1 class="title">
                hi, i'm chris
            </h1>
            <p class="subtitle" id="tagline">
                wbb 2018 ● international business ● developer
            </p>
        </div>
    </div>
</section>

<!--Summary goes here-->
<!--Explain how website works and about WBB-->
<section class="hero is-large">
  <div class="container has-text-centered">
    <p>I’m currently a senior in the <a href="http://www.wbb.ust.hk/index.html">World Bachelor in Business (WBB)</a>, a triple degree program jointly organized by the University of Southern California, Hong Kong University of Science and Technology, and Bocconi University. Passionate about the intersection of business and technology, I’ve had opportunities to not only develop my business acumen in international settings, but also cultivate my interest in computer science. I’ve been fortunate enough to work with and learn from mentors and teams from around the world. This website chronicles my journey as a developer and how it intersects with my experiences as an international business student. </p>
    <br>
    <p>Click on any of the icons on the map to learn more about my experiences as a developer in that location.</p>
    <p>You can also view my resume <a href="https://www.dropbox.com/s/sv4fbxt1gwmkjo7/8-26-2017%20Resume.pdf?dl=0">here</a>. </p>
  </div>
</section>

<!--MAP SECTION-->
<section class="hero is-large has-text-centered">
    <div id="chartdiv"></div>
</section>

<!--Image/Cover Section-->
<section class="hero is-medium">
  <!--LA-->
  <div class="hero-body has-text-centered cover-img la" id="cover-la">
    <h1 class="title">Los Angeles, California</h1>
    <p class="subtitle">University of Southern California | 2014-2015</p>

    <div class="card">
      <div class="card-header">
        <p class="card-header-title">Insert tag line here</p>
      </div>
      <div class="card-content">
        <div class="content">
          <p class="subtitle">I began my undergraduate experience in Fall 2014 at USC. Entering as a freshman, I didn’t know what computer science was, much less how to code. Out of curiosity, I registered for ITP 115: Introduction to Python to get an introduction to computer science. Little did I expect to enjoy the class so much, leading me to build a Pokemon battle simulator for the final project. </p>
        </div>
      </div>
    </div>

  </div>

  <div class="hero-body has-text-centered cover-img hk" id="cover-hk">
    <h1 class="title">Hong Kong</h1>
    <p class="subtitle">Hong Kong University of Science and Technology | 2015-2016</p>

    <div class="card">
      <div class="card-header">
        <p class="card-header-title">Insert tag line here</p>
      </div>
      <div class="card-content">
        <div class="content">
          <p class="subtitle">Having discovered my interest in computer science, I sought out opportunities at HKUST to further develop my technical skills. </p>
          <p class="subtitle">I joined the university robotics team, where I had to make the difficult transition from developing in Python to C. Along with developing software in C and, eventually Python as well, I was elected to lead a team of 13 engineering students (software, mechanical, and electrical) from 4 nationalities to build a robot from scratch and compete in HKUST’s Robot Design competition. Our team won runner-up in the competition out of 10 teams. </p>
          <p class="subtitle">In addition to joining the robotics team, I was introduced to web development as a web development intern for the Grouptap, a group-based social networking platform based in Hong Kong, where I developed front-end functionality for the web application in Angular. As a Microsoft Student Partner, I also gained experience as a computer science instructor, developing and teaching a curriculum to pre-collegiate students in Hong Kong. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-body has-text-centered cover-img bkk" id="cover-bkk">
    <h1 class="title">Bangkok, Thailand</h1>
    <p class="subtitle">Indochina Healthcare | Summer 2016</p>

    <div class="card">
      <div class="card-header">
        <p class="card-header-title">Insert tag line here</p>
      </div>
      <div class="card-content">
        <div class="content">
          <p class="subtitle">While interning as a business analyst for Indochina Healthcare in Bangkok, I also had the opportunity to compete in my first hackathon: AngelHack Thailand 2016. My team and I built an education tech web platform aimed at connecting Thai students to local non-profits in order to award scholarships for continuing education. We won the hackathon out of over 20 teams and were selected to represent Thailand at the AngelHack Global Accelerator. </p>
          <p class="subtitle">During this summer, I also received my first introductions to data science by attending meetups with groups such as Data Science Thailand and ThaiPy and completing Andrew Ng’s Machine Learning course on Coursera. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-body has-text-centered cover-img milan" id="cover-milan">
    <h1 class="title">Milan, Italy</h1>
    <p class="subtitle">Bocconi University | 2016-2017</p>

    <div class="card">
      <div class="card-header">
        <p class="card-header-title">Insert tag line here</p>
      </div>
      <div class="card-content">
        <div class="content">
          <p class="subtitle">While studying at Bocconi University, I had the opportunity to apply what I learned from the summer as a student researcher for the Bocconi Institute for Data Science and Analytics. My primary project was supporting the finance research of Professor Silvio Petriconi regarding interbank competition and loan announcements. Using Python, I designed and implemented a natural language classifier for financial documents, applying models using naive Bayes, logistic regression, and support vector machines. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-body has-text-centered cover-img seattle" id="cover-seattle">
    <h1 class="title">Seattle, Washington</h1>
    <p class="subtitle">The Boeing Company | Summer 2017</p>

    <div class="card">
      <div class="card-header">
        <p class="card-header-title">Insert tag line here</p>
      </div>
      <div class="card-content">
        <div class="content">
          <p class="subtitle">While working at the Boeing Company as a project management intern, I developed a full-stack web application that automates the creation and revision of production schedules to support the development of the 787 Dreamliner. This web application is now fully functional, in production, and used by over 400 users throughout the organization. Other than web development, perhaps the most important thing I learned from this project is how important it is to talk to users before and during development. The bulk of my time was spent gathering requirements and feedback from users across the value chain, including project managers, industrial engineers, and mechanical engineers. </p>
          <p class="subtitle">Technologies used: Python, Flask, SQL, HTML/CSS, Javascript, Jquery, AJAX</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Let's get in touch Section-->
<section class="hero is-medium has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Let's get in touch</h1>
      <span class="icon is-large">
        <i class="fa fa-linkedin-square"></i>
      </span>
      <span class="icon is-large">
        <i class="fa fa-envelope"></i>
      </span>
      <span class="icon is-large">
        <i class="fa fa-github-square"></i>
      </span>
    </div>
  </div>
</section>


<!--MODALS-->
<!--LA Modal-->
<div class="modal" id="la">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">USC - 2014-2015 Freshman Year</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button close-modal">Cancel</button>
    </footer>
  </div>
</div>

<!--HK Modal-->
<div class="modal" id="hk">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button close-modal">Cancel</button>
    </footer>
  </div>
</div>

<!--BKK Modal -->
<div class="modal" id="bkk">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button close-modal">Cancel</button>
    </footer>
  </div>
</div>

<!--Milan Modal -->
<div class="modal" id="milan">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button close-modal">Cancel</button>
    </footer>
  </div>
</div>

<!--Seattle Modal-->
<div class="modal" id="seattle">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button close-modal">Cancel</button>
    </footer>
  </div>
</div>

{% endblock %}

