{% extends "template.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/summary.css') }}">

<!--Map Resources-->
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!--summary.js-->
<script src="{{ url_for('static', filename='scripts/summary.js') }}"></script>
{% endblock %}


{% block content %}
<!-- Hero class comes from Bulma, used for centering vertically -->
<section class="hero">
    <div class="container" id="main-content">
        <div class="hero-body" >
            <figure>
            <img id="headshot" src="{{ url_for('static', filename='images/headshot_cropped.jpg') }}">
            </figure>
            <h1 class="title">
                hi, i'm chris
            </h1>
            <p class="subtitle" id="tagline">
                wbb 2018 ● international business ● developer
            </p>
        </div>
    </div>
</section>

<!--Summary goes here-->
<!--Explain how website works and about WBB-->
<section class="hero">
  <div class="container">
    <p>I’m currently a student in the World Bachelor in Business (WBB), a triple degree program jointly organized by the University of Southern California, Hong Kong University of Science and Technology, and Bocconi University. Passionate about the intersection of business and technology, I’ve had opportunities to not only develop my business acumen in international settings, but also cultivate my interest in computer science. I’ve been fortunate enough to work with and learn from mentors and teams from around the world. This website chronicles my journey as a developer and how it intersects with my experiences as an international business student. </p>
    <br>
    <p>Click on any of the icons on the map to learn more about my experiences as a developer in that location.</p>
    <p>You can view my resume here. (dropbox link)</p>
  </div>
</section>

<!--MAP SECTION-->
<section class="hero is-large has-text-centered">
    <div id="chartdiv"></div>
</section>

<!--Image/Cover Section-->
<section class="hero is-medium">
  <!--LA-->
  <div class="hero-body has-text-centered cover-img la" id="cover-la">
    <h1 class="title">Los Angeles, California</h1>
    <p class="subtitle">University of Southern California | 2014-2015</p>

    <div class="card">
      <div class="card-header">
        <p class="card-header-title">Insert tag line here</p>
      </div>
      <div class="card-content">
        <div class="content">
          <p class="subtitle">Insert story here</p>
        </div>
      </div>
    </div>

  </div>

  <div class="hero-body has-text-centered cover-img hk" id="cover-hk">
    <h1 class="title">Hong Kong</h1>
    <p class="subtitle">Hong Kong University of Science and Technology | 2015-2016</p>

    <div class="card">
      <div class="card-header">
        <p class="card-header-title">Insert tag line here</p>
      </div>
      <div class="card-content">
        <div class="content">
          <p class="subtitle">Insert story here</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-body has-text-centered cover-img bkk" id="cover-bkk">
    <h1 class="title">Bangkok, Thailand</h1>
    <p class="subtitle">Indochina Healthcare | Summer 2016</p>

    <div class="card">
      <div class="card-header">
        <p class="card-header-title">Insert tag line here</p>
      </div>
      <div class="card-content">
        <div class="content">
          <p class="subtitle">Insert story here</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-body has-text-centered cover-img milan" id="cover-milan">
    <h1 class="title">Milan, Italy</h1>
    <p class="subtitle">Bocconi University | 2016-2017</p>

    <div class="card">
      <div class="card-header">
        <p class="card-header-title">Insert tag line here</p>
      </div>
      <div class="card-content">
        <div class="content">
          <p class="subtitle">Insert story here</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-body has-text-centered cover-img seattle" id="cover-seattle">
    <h1 class="title">Seattle, Washington</h1>
    <p class="subtitle">The Boeing Company | Summer 2017</p>

    <div class="card">
      <div class="card-header">
        <p class="card-header-title">Insert tag line here</p>
      </div>
      <div class="card-content">
        <div class="content">
          <p class="subtitle">Insert story here</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Let's get in touch Section-->
<section class="hero is-medium has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Let's get in touch</h1>
      <span class="icon is-large">
        <i class="fa fa-linkedin-square"></i>
      </span>
      <span class="icon is-large">
        <i class="fa fa-envelope"></i>
      </span>
      <span class="icon is-large">
        <i class="fa fa-github-square"></i>
      </span>
    </div>
  </div>
</section>


<!--MODALS-->
<!--LA Modal-->
<div class="modal" id="la">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">USC - 2014-2015 Freshman Year</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button close-modal">Cancel</button>
    </footer>
  </div>
</div>

<!--HK Modal-->
<div class="modal" id="hk">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button close-modal">Cancel</button>
    </footer>
  </div>
</div>

<!--BKK Modal -->
<div class="modal" id="bkk">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button close-modal">Cancel</button>
    </footer>
  </div>
</div>

<!--Milan Modal -->
<div class="modal" id="milan">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button close-modal">Cancel</button>
    </footer>
  </div>
</div>

<!--Seattle Modal-->
<div class="modal" id="seattle">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button close-modal">Cancel</button>
    </footer>
  </div>
</div>

{% endblock %}

