{% extends "template.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/year1.css') }}">
{% endblock %}

{% block content %}
 <!--Need to put animations on the SECTION -->
<section class="hero is-primary is-medium animated" id="test">
    <div class="hero-body ">
        <div class="container has-text-centered">
            <!-- Need to keep container here in order for the Nav Bar to be formatted correctly -->
            <h1 class="title">Year 1: USC</h1>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='scripts/year1.js') }}"></script>
{% endblock %}